.result {
  height: 60px;
  background-color: #cfd16f;
  width: 100%;
  color:rgb(19, 18, 18);
  border-radius:8px;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  border-radius: 5px;
  
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: grey;
  color: white;
  border:1px solid rgb(216, 224, 73);
  border-radius: 5px;
}
